/* .scorecard {
  box-shadow: 0 0 2px 1px #c2c1c1;
  margin: 2%;
  padding: 10px;
  width: 96%;
  border-radius: 15px;
}

.flexbox-container {
  color: #0e4d94;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.container {
  color: #0e4d94;
}

.remark {
  float: right;
  text-align: right;
  align-content: right;
}

.scoreboxblue {
  margin: auto;
  padding: 10px;
  color: white;
  text-align: center;
  height: 100px;
  width: 18%;
  background-color: #0e4d94;
}

.scoreboxgreen {
  margin: auto;
  padding: 10px;
  color: white;
  text-align: center;
  height: 100px;
  width: 18%;
  background-color: #108955;
}

@media (max-width: 768px) {
  .scorecard {
    width: 100%;
  }
} */