.dispweek {
  display: flex;
  flex-wrap: wrap;
}

.weekcard {
  box-shadow: 0 0 2px 1px #c2c1c1;
  padding: 1%;
  margin: 2%;
  width: 46%;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .weekcard {
    width: 100%;
  }
}

.flexbox-container {
  color: #0e4d94;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* Add this line */
}

.weekdate {
  font-size: medium;
  float: right;
  text-align: right;
  align-content: right;
}

.scorebox {
  color: black;
  font-size: small;
  margin: 8px;
  padding: 4px;
  box-shadow: 0 0 2px 1px #c2c1c1;
  height: 100px;
  width: calc(18% - 4px); /* Adjust width to fit two boxes in a row */
  text-align: center;
}

h5 {
  font-weight: 800;
  padding-top: 10%;
}
h6 {
  color: #0e4d94;
}
.feedbackIcon{
  color: #0e4d94;
  margin-right: 1%;
  padding: auto;
}